<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--接口请求相关的配置-->

<!--    上下文注解被使用-->
    <context:annotation-config/>
<!--可启动注解-->
    <mvc:annotation-driven/>
    <mvc:interceptors>
        <bean class="com.test.common.HttpInterceptor" />
    </mvc:interceptors>

<!--    包扫描-->
    <context:component-scan base-package="com.test.controller"/>
    <context:component-scan base-package="com.test.service"/>
    <context:component-scan base-package="com.test.dao"/>

<!--    allow jsp/js/css-->
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/bootstrap3.3.5/**" location="/bootstrap3.3.5/"/>
    <mvc:resources mapping="/assets/**" location="/assets/"/>

<!--    禁止懒加载，启动时候就加载-->
    <bean class="com.test.common.ApplicationContextHelper" lazy-init="false" />

<!-- 告诉请求 请求的路径   -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <bean class="com.test.common.SpringExceptionResolver"/>
<!--    以什么格式返回 视图渲染-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>

<!--    deal with the json returned-->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

<!--    deal with the jsp returned-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>