<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.test.model.po.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy" />
    <result column="is_display" jdbcType="BIT" property="isDisplay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, created_date, last_modified_date, created_by, last_modified_by, is_display
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.test.model.po.SysRole">
    insert into sys_role (id, code, name, 
      created_date, last_modified_date, created_by, 
      last_modified_by, is_display)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastModifiedBy,jdbcType=VARCHAR}, #{isDisplay,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.test.model.po.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="lastModifiedDate != null">
        last_modified_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="lastModifiedBy != null">
        last_modified_by,
      </if>
      <if test="isDisplay != null">
        is_display,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedBy != null">
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null">
        #{isDisplay,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.po.SysRole">
    update sys_role
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedBy != null">
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null">
        is_display = #{isDisplay,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.model.po.SysRole">
    update sys_role
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      is_display = #{isDisplay,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
<!--  <resultMap id="BaseResultMap" type="com.test.model.po.SysRole">-->
<!--    <id column="id" jdbcType="BIGINT" property="id" />-->
<!--    <result column="name" jdbcType="VARCHAR" property="name" />-->
<!--    <result column="type" jdbcType="INTEGER" property="type" />-->
<!--    <result column="status" jdbcType="INTEGER" property="status" />-->
<!--    <result column="remark" jdbcType="VARCHAR" property="remark" />-->
<!--    <result column="operator" jdbcType="VARCHAR" property="operator" />-->
<!--    <result column="operator_ip" jdbcType="VARCHAR" property="operatorIp" />-->
<!--    <result column="operator_time" jdbcType="TIMESTAMP" property="operatorTime" />-->
<!--  </resultMap>-->
<!--  <sql id="Base_Column_List">-->
<!--    id, name, type, status, remark, operator, operator_ip, operator_time-->
<!--  </sql>-->
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from sys_role-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
<!--    delete from sys_role-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.test.model.po.SysRole">-->
<!--    insert into sys_role (id, name, type, -->
<!--      status, remark, operator, -->
<!--      operator_ip, operator_time)-->
<!--    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, -->
<!--      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, -->
<!--      #{operatorIp,jdbcType=VARCHAR}, #{operatorTime,jdbcType=TIMESTAMP})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="com.test.model.po.SysRole">-->
<!--    insert into sys_role-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        id,-->
<!--      </if>-->
<!--      <if test="name != null">-->
<!--        name,-->
<!--      </if>-->
<!--      <if test="type != null">-->
<!--        type,-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        status,-->
<!--      </if>-->
<!--      <if test="remark != null">-->
<!--        remark,-->
<!--      </if>-->
<!--      <if test="operator != null">-->
<!--        operator,-->
<!--      </if>-->
<!--      <if test="operatorIp != null">-->
<!--        operator_ip,-->
<!--      </if>-->
<!--      <if test="operatorTime != null">-->
<!--        operator_time,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        #{id,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="name != null">-->
<!--        #{name,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="type != null">-->
<!--        #{type,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        #{status,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="remark != null">-->
<!--        #{remark,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operator != null">-->
<!--        #{operator,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operatorIp != null">-->
<!--        #{operatorIp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operatorTime != null">-->
<!--        #{operatorTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.po.SysRole">-->
<!--    update sys_role-->
<!--    <set>-->
<!--      <if test="name != null">-->
<!--        name = #{name,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="type != null">-->
<!--        type = #{type,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        status = #{status,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="remark != null">-->
<!--        remark = #{remark,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operator != null">-->
<!--        operator = #{operator,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operatorIp != null">-->
<!--        operator_ip = #{operatorIp,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operatorTime != null">-->
<!--        operator_time = #{operatorTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.test.model.po.SysRole">-->
<!--    update sys_role-->
<!--    set name = #{name,jdbcType=VARCHAR},-->
<!--      type = #{type,jdbcType=INTEGER},-->
<!--      status = #{status,jdbcType=INTEGER},-->
<!--      remark = #{remark,jdbcType=VARCHAR},-->
<!--      operator = #{operator,jdbcType=VARCHAR},-->
<!--      operator_ip = #{operatorIp,jdbcType=VARCHAR},-->
<!--      operator_time = #{operatorTime,jdbcType=TIMESTAMP}-->
<!--    where id = #{id,jdbcType=BIGINT}-->
<!--  </update>-->
</mapper>